header {
  background: #ffffff;
  color: white;
  text-align: center;
}

.announcement {
  background: #d7b44c;
  color: #222;
  height: 40px;
  display: flex; /* Enable Flexbox */
  align-items: center; /* Vertically center content */
  justify-content: center; /* Horizontally center content (optional) */
}

.announcement a {
  margin: 0; /* Remove default margin */
  padding: 0 5px; /* Add some padding for spacing */
}

.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
  background: white;
}

.main-nav li a {
  color: #29104b;
  text-decoration: none;
  padding: 0 15px;
  display: block;
}

.main-nav li a:hover {
  color: white;
  background: #29104b;
  
}

/* Style Logo */
.main-nav img {
  height: 60px;
  padding: 10px 30px;
}