.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background: white;
}

.main-nav li a {
  color: #29104b;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.main-nav li a:hover {
  background: #29104b;
}