/* Begin System Generated CSS */
body {margin: 0px; padding: 0px; font-family: arial, helvetica; color: #000000; font-size: 13px;}
a {color: ;}
a img{border-style: none;}
.Hyperlink {COLOR: ;}
#Main {overflow: hidden; margin-top: 40px; margin-left: auto; margin-right: auto; box-sizing: border-box; max-width: 940px; width: 940px\9;}
#SiteHeader {overflow: hidden; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px; text-align: left; box-sizing: border-box;}
#TopMenu {box-sizing: border-box; white-space: nowrap; height: 60px; padding-top: 0px; padding-left: 0px; padding-right: 0px; background-color: #ffffff;}
#MenuPackage a {display: block; cursor: pointer; text-decoration: none;}
#TopMenu ul {list-style: none; margin: 0px; padding: 0px;}
#TopMenu ul li {display: block;}
/*Mobile Menu Controls*/#ToggleMenu {display: none; cursor: pointer;}

/*Main Menu CSS*/
.MenuItem {position: relative; float: left; margin-right: 0px; margin-bottom: 0px; height: 60px;}
.MenuText, .MenuTextLink {box-sizing: border-box; height: 60px; width: auto; overflow: visible; padding-top: 8px; padding-left: 10px; padding-right: 10px; text-align: left;  font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12px;background-color: #ffffff;}
.MenuGraphic, .MenuGraphicLink {overflow: hidden; width: width: auto; overflow: visible; px; height: 60px;}
.MenuGraphicLink img {border-style: none;}
/*Sub Menu CSS*/
.SubMenu {z-index: 1000; display: none; position: absolute; background-color: #ffffff; background-image: url(/MainSiteGraphics/TransparentBackground.png)\9;}
.SubMenuItem {z-index: 1001; position: relative; margin: 0px;}
.SubMenuText, .SubMenuLink {z-index: 1002; padding: 5px 15px 5px 15px; margin: 0px; white-space: nowrap; font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12px;}

/*IE 8 specific*/
.MenuItem {background-image: url(/MainSiteGraphics/TransparentBackground.png)\9;}
.MenuTextLink:hover {background-color: \9; color: #a9a9a9\9;}
.MenuItem:hover > .SubMenu {display: block\9; left: 0px\9; top: 35px\9;}
.SubMenu:hover {display: block;\9}
.SubMenuItem:hover > .SubMenu{display: block\9; top: 0px\9; left: 100%\9;}
.SubMenuLink:hover {color: \9;}

/*Large Screens*/
@media (min-width: 1001px) {
/*Hover CSS*/
.MenuTextLink:hover {background-color: ; color: #a9a9a9;}
.MenuItem:hover > .SubMenu{display: block;}
.SubMenu:hover {display: block;}
.SubMenuItem:hover > .SubMenu{display: block; top: 0px; left: 100%;}
.SubMenuLink:hover {color: ;}
}

/*Small Screens*/
@media (max-width: 1000px) {
#Main {width: 100%; margin: 0px;}
#TopMenu {height: auto;}
#ToggleMenu {display: block; box-sizing: border-box; margin-bottom: 10px; width: 130px; height: 45px; padding-top: 10px; padding-left: 10px; background-color: #969696; color: #ffffff; font-size: 26px; font-weight: bold;}
#ToggleMenuPlusMinus {display: inline-block; width: 20px;}
/*Reset Styling*/
.MenuItem, .MenuText, .MenuTextLink, .MenuGraphic, .MenuGraphicLink, .SubMenu, .SubMenuItem, .SubMenuText, .SubMenuLink {float: none; position: relative; margin: 0px; padding: 0px; background-color: transparent; border: none;}
.MenuText, .MenuTextLink, .SubMenuText, .SubMenuLink {box-sizing: border-box; padding: 10px; height: 45px; font-family: arial, helvetica; font-weight: normal; font-size: 26px; color: #000000;}
.MenuItem {height: auto; background-color: #f0f0f0; border-bottom: solid 1px #000000;}
.MenuText, .MenuTextLink, .MenuGraphic, .MenuGraphicLink {box-sizing: border-box; padding: 10px; height: 45px; padding-left: 40px; background-color: #f0f0f0;}
.LevelTwo {background: color: #dcdcdc;}
.LevelTwo > .SubMenuItem {box-sizing: border-box; background-color: #dcdcdc; border-top: solid 1px #000000;}
.LevelTwo > .SubMenuItem > .SubMenuText, .LevelTwo > .SubMenuItem > .SubMenuLink {padding-left: 60px; background-color: #dcdcdc;}
.LevelThree {background-color: #bebebe; border-bottom: solid 2px aqua;}
.LevelThree > .SubMenuItem {background-color: #bebebe; border-top: solid 1px #000000; padding-left: 90px;}
.LevelThree > .SubMenuItem > .SubMenuText, .LevelThree > .SubMenuItem > .SubMenuLink {background-color: #bebebe;}
.MenuItem.HasSubMenu > a:after {content: '+'; position: absolute; margin-left: 10px; box-sizing: border-box; height: 45px; padding-top: 5px; top: 0px; left: 0px; font-size: 1.5em; display: block;}
.MenuItem.HasSubMenu > a.active:after {content: '-'; padding-top: 0px;}
.SubMenuItem.HasSubMenu > a:after {content: '+'; position: absolute; margin-left: 30px; box-sizing: border-box; height: 45px; padding-top: 5px; top: 0px; left: 0px; font-size: 1.5em; display: block;}
.SubMenuItem.HasSubMenu > a.active:after {content: '-'; padding-top: 0px;}
.Show {display: block;}
.Hide {display: none;}
}

.MenuLinkOn {background-color: ; color: #a9a9a9;}
.LevelTwoOn {color: ;}
.LevelThreeOn {color: ;}

#LeftMenu {float: left; box-sizing: border-box; white-space: nowrap; height: auto; width: 0px; padding-top: 30px; padding-bottom: 5000px; margin-bottom: -5000px;}
#LeftMenuPackage a {display: block; cursor: pointer; text-decoration: none;}
#LeftMenu ul {list-style: none; margin: 0px; padding: 0px;}
#LeftMenu ul li {display: block;}
/*Mobile Menu Controls*/#LeftToggleMenu {display: none; cursor: pointer;}

/*Main Menu CSS*/
.LeftMenuItem {position: relative; float: left; width: 0px;}
.LeftMenuText, .LeftMenuTextLink {box-sizing: border-box; width: 0px; padding-left: 7px; padding-right: 7px; padding-bottom: 0px; text-align: left;  font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12px;}
.LeftMenuGraphic, .LeftMenuGraphicLink {overflow: hidden; width: 0px; padding: 0px;}
.LeftMenuGraphicLink img {border-style: none;}
/*Sub Menu CSS*/
.LeftSubMenu {z-index: 1000; display: none; position: absolute; top: 0px; left: 0px; background-color: ; background-image: url(/MainSiteGraphics/TransparentBackground.png)\9;}
.LeftSubMenuItem {z-index: 1001; position: relative; margin: 0px;}
.LeftSubMenuText, .LeftSubMenuLink {z-index: 1002; padding: 5px; margin: 0px; white-space: nowrap; font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12px;}

/*Large Screens*/
@media (min-width: 1001px) {
/*Hover CSS*/
.LeftMenuTextLink:hover {color: ;}
.LeftMenuItem:hover > .LeftSubMenu{display: block;}
.LeftSubMenu:hover {display: block;}
.LeftSubMenuItem:hover > .LeftSubMenu{display: block; top: 0px; left: 100%;}
.LeftSubMenuLink:hover {color: ;}
#LeftMenu .HasMenuGraphic {display: none;}
#Content {margin-left: 0px;}
}

/*Small Screens*/
@media (max-width: 1000px) {
#LeftToggleMenu {display: block; box-sizing: border-box; margin-bottom: 10px; width: 130px; height: 45px; padding-top: 10px; padding-left: 10px; background-color: #969696; color: #ffffff; font-size: 26px; font-weight: bold;}
#LeftToggleMenuPlusMinus {display: inline-block; width: 20px;}
/*Reset Styling*/
#LeftMenu {float: none; width: auto; padding: 0px; margin-bottom: 0px;}
.LeftMenuItem, .LeftMenuText, .LeftMenuTextLink, .LeftMenuGraphic, .LeftMenuGraphicLink, .LeftSubMenu, .LeftSubMenuItem, .LeftSubMenuText, .LeftSubMenuLink {float: none; position: relative; width: auto; margin: 0px; padding: 0px; background-color: transparent; border: none;}
.LeftSubMenu {left: 0px;}.LeftMenuText, .LeftMenuTextLink, .LeftSubMenuText, .LeftSubMenuLink, .LeftMenuGraphic, .LeftMenuGraphicLink {box-sizing: border-box; padding: 10px; height: 45px; font-weight: normal; font-size: 26px; color: #000000;}
.LeftMenuItem {height: auto; background-color: #f0f0f0; border-bottom: solid 1px #000000;}
.LeftMenuText, .LeftMenuTextLink, .LeftMenuGraphic, .LeftMenuGraphicLink {box-sizing: border-box; padding: 10px; height: 45px; padding-left: 40px; background-color: #f0f0f0;}
.LeftMenuGraphic, .LeftMenuGraphicLink {padding: 5px 0px 5px 40px;}
.LeftMenuGraphic img, .LeftMenuGraphicLink img {height: 35px;}
#LeftMenu .LeftMenuGraphicLink, #LeftMenu .LeftMenuGraphic{display: none;}.LeftLevelTwo {background: color: #dcdcdc;}
.LeftLevelTwo > .LeftSubMenuItem {box-sizing: border-box; background-color: #dcdcdc; border-top: solid 1px #000000;}
.LeftLevelTwo > .LeftSubMenuItem > .LeftSubMenuText, .LeftLevelTwo > .LeftSubMenuItem > .LeftSubMenuLink {padding-left: 60px; background-color: #dcdcdc;}
.LeftLevelThree {background-color: #bebebe; border-bottom: solid 2px aqua;}
.LeftLevelThree > .SubMenuItem {background-color: #bebebe; border-top: solid 1px #000000; padding-left: 90px;}
.LeftLevelThree > .SubMenuItem > .SubMenuText, .LevelThree > .SubMenuItem > .SubMenuLink {background-color: #bebebe;}
.LeftMenuItem.HasSubMenu > a:after {content: '+'; position: absolute; margin-left: 10px; box-sizing: border-box; height: 45px; padding-top: 5px; top: 0px; left: 0px; font-family: arial, helvetica; font-size: 1.5em; display: block;}
.LeftMenuItem.HasSubMenu > a.active:after {content: '-'; padding-top: 0px;}
.LeftSubMenuItem.HasSubMenu > a:after {content: '+'; position: absolute; margin-left: 30px; box-sizing: border-box; height: 45px; padding-top: 5px; top: 0px; left: 0px; font-family: arial, helvetica; font-size: 1.5em; display: block;}
.LeftSubMenuItem.HasSubMenu > a.active:after {content: '-'; padding-top: 0px;}
.Show {display: block;}
.Hide {display: none;}
#Content {margin-left: 0px;}
}

.LeftMenuLinkOn {color: ;}
.LeftLevelTwoOn {color: ;}
.LeftLevelThreeOn {color: ;}

#Content {overflow: hidden; padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px;  box-sizing: border-box;}
.Row {float: left; overflow: hidden; padding: 0px 0px 5px 0px; clear: both; text-align: left;}
.SpacerRow {float: left; width: 100%; padding: 0px; clear: both;}
.Clear {width: 100%; height: 0px; clear: both;}

#EndUserFooter {float: left; overflow: hidden; margin-top: 20px; padding-bottom: 20px;  box-sizing: border-box; width: 100%; max-width: 940px; margin-left: 0px; padding-left: 0px; padding-right: 0px;}

#GigshowcaseFooter {display: block; margin-top: 20px; height: 76px; text-align: center; background-color: transparent; margin-left: auto; margin-right: auto;max-width: 940px;}
#GigshowcaseLogo{display: block; width: 175px; height: 40px; margin-left: auto; margin-right: auto; padding-top: 2px; background-image: url(../MainGraphics/GigshowcaseFooterLogo.png); background-repeat: no-repeat; background-color: transparent; text-align: center; padding-left: 0px; text-decoration: none; color: #000000; font-family: Arial; font-size: 11px; font-weight: normal;}


.S5385 {font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12px;}
.S5386 {font-family: arial, helvetica, sans-serif; color: #000000; font-size: 12px;}
.S5387 {font-family: arial, helvetica, sans-serif; color: #535a62; font-size: 48px;}
.SPHS {font-family: arial, helvetica, sans-serif; color: #535a62; font-size: 48px;}
.S5388 {font-family: arial, helvetica, sans-serif; color: #535a62; font-size: 24px;}
.SPCS {font-family: arial, helvetica, sans-serif; color: #535a62; font-size: 24px;}
.S5389 {font-family: arial, helvetica, sans-serif; color: #535a62; font-size: 30px;}
.S5390 {font-family: arial, helvetica, sans-serif; color: #535a62; font-size: 16px;}
.PageLeftCol {float: left; width: 100px;}
.PageRightCol {float: left; width: 840px;}
/* End System Generated CSS */

/* Begin Global Layouts CSS */
#L01
{
overflow: hidden;
}

#L01_WrapCol1
{
float: left;
width: 100%;
}
#ES_L01_Col1
{
box-sizing: border-box;
overflow: hidden;
margin-right: 240px;
min-height: 50px;
}
#ES_L01_Col2
{
box-sizing: border-box;
float: right;
overflow: hidden;
width: 200px;
margin-left: -200px; 
min-height: 50px;
}

@media (max-width: 500px) {

#ES_L01_Col1
{
margin: 0px;
width: 100%;
}

#ES_L01_Col2
{
margin: 0px;
width: 100%;
}

}

#L02 {padding: 0px;}
#ES_L02_Col1
{
float: left;
width: 200px;
overflow: hidden;
margin-left: -100%; 
min-height: 50px;
}
#L02_WrapCol2
{
float: left;
width: 100%;
padding: 0px;
}
#ES_L02_Col2
{
overflow: hidden;
margin: 0px 240px 0px 240px;
min-height: 50px;
}
#ES_L02_Col3
{
float: left;
width: 200px;
overflow: hidden;
margin-left: -200px; 
min-height: 50px;
}
* html #ES_L02_Col1 {margin-left: -96%;}


/* End Global Page Templates CSS */

/* Begin Site Page Templates CSS */
.three-col-wrap {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
column-gap: 25px;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
padding: 25px 25px 25px 25px;
}

.three-col-wrap div {min-height: 50px;}

@media (max-width: 800px) {

.three-col-wrap {
grid-template-columns: 1fr;
}

}

.two-col-wrap {
display: grid;
grid-template-columns: 1fr 1fr;
column-gap: 50px;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
padding: 25px 0 25px 0;
}

.two-col-wrap div {min-height: 50px;}

@media (max-width: 1250px) {
.two-col-wrap {padding: 25px 25px 25px 25px;}

}

@media (max-width: 800px) {

.two-col-wrap {
grid-template-columns: 1fr;
}

.two-col-wrap .image, .two-col-wrap .image p {text-align: center !important;}

}


/* End Site Page Templates CSS */

/* Begin Custom Site CSS */

#ContentExt {width: 100%; min-width: 100%; min-height: 400px; background-color: #f8e7c2;}
#Content {width: 100%; min-width: 100%; min-height: 400px; background-color: #f8e7c2;}

body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	max-width: 100%;
	min-width: 0;
        color: #535a62;
        font-family: arial, helvetica;
        font-size: 24px;
        font-weight: normal;
}

body, div, p, a {line-height: 1.5em;}

.S5390 {line-height: 1em;}

.plain-link
{
text-decoration: none;
}

.button
{
display: inline-block;
background-color: #37a5bf;
border-radius: 20px;
padding: 10px;
color: #000000;
text-decoration: none;
}

img {border-radius: 50px;}

#Main {

box-sizing: border-box;
display: grid;
width: 100%;
/*min-height: 100vh;
height: 100vh;*/
#Main {grid-template-rows: auto 40px auto 500px;}
row-gap: 0;
grid-template-columns: 100%;
min-width: 0;
max-width: 100%;
overflow: hidden !important;

justify-items: center;

margin: 0px;
padding: 0px 0px 20px 0px;
background-color: #ffffff;

}

#top-strip {
box-sizing: border-box;
padding: 10px;
background-color: #535a62;
color: #ffffff;
min-height: 10px;
text-align: center;
font-size: 16px;
}
#top-strip a {color: #ffffff;}

#SiteHeaderExt {
box-sizing: border-box;
/*overflow: hidden;*/
grid-column: 1/2;
grid-row: 1/2;
width: 100%;
min-width: 100%;  
margin: 0;
text-align: center;
}

#SiteHeader {
box-sizing: border-box;
position: relative;
overflow: visible;
margin: 25px auto 25px auto;
max-width: 1400px;
display: grid;
grid-template-columns: 250px 1fr;
justify-content: center;
height: 105px;
padding: 0px 0px 0px 0px;
}

#site-header-logo img {width: 100%; border-radius: 0;}

#TopMenuExt {auto;}

.MenuTextLink, .MenuText, .SubMenuLink {
color: #535a62;
font-family: 'Spectral', serif;
font-weight: normal;
}

#EndUserFooterExt {
width: 100%;
min-width: 100%;
min-height: 250px;
background-color: #535a62;
color: #ffffff;
}

#EndUserFooter {
float: none;
max-width: 1200px;
margin-left: auto;
margin-right: auto;
padding: 25px;
background-color: #535a62;
color: #ffffff;
font-size: 22px;
}

#EndUserFooter a {color: gainsboro;}

@media (max-width: 1550px) {

#SiteHeader {
margin-left: 10px;
margin-right: 10px;
}

}

@media (min-width: 1001px) {

#SiteHeaderExt {visibility: hidden;}

#TopMenuExt {
box-sizing: border-box;
visibility: hidden;
}

#TopMenu {
box-sizing: border-box;
height: 100%;
width: 85%;

margin-left: auto;
margin-right: auto;
text-align: center;
}

.SubMenu {top: 40px;}

.SubMenuLink {
text-align: left;
font-size: 20px;
}

#MenuPackage {
box-sizing: border-box;
display: grid;

overflow: visible;

grid-template-columns: repeat(auto-fit, minmax(100px, max-content));

height: 100%;
justify-content: space-around;
align-items: center;
cursor: pointer;
background-color: #ffffff;
}

.MenuItem, .MenuTextLink, .MenuText {
font-size: 20px;
height: 30px;
}

}


@media (min-width: 1301px) {

#MenuPackage {
grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
}

.MenuTextLink, .MenuText {
font-size: 30px;
}

}

@media (max-width: 1000px) {

#SiteHeader {
grid-template-columns: 250px;
justify-content: center;
}


#TopMenuExt {
position: absolute;
top: 0;
left: 0;
}

#ToggleMenu {
background-image: url("/EndUserFiles/77541.png");
background-repeat: no-repeat;
background-size: 50px 38px;
color: transparent;
background-color: #ffffff;
width: 50px;
}

}



/* Bars -------------------------------------------- */

.bar-beige, .bar-lavender, .bar-purple, .bar-gold, .bar-gray {min-height: 50px;}

.bar-beige {background-color: #f8e7c2; color: #535a62;}
.bar-beige .S5387 {color: #535a62;}
.bar-beige div a, .bar-beige div p a {color: #000000;}
.bar-lavender {background-color: #f2d8f8;}
.bar-lavender div a, .bar-lavender div p a {color: #391364;}
.bar-purple {background-color: #391364; color: #f8e7c2;}
.bar-purple .S5387 {color: #f8e7c2;}
.bar-purple div a, .bar-purple div p a {color: #ffffff;}
.bar-gold {background-color: #d8920a; color: #535a62;}
.bar-gold .S5387 {color: #535a62;}
.bar-gold div a, .bar-gold div p a {color: #000000;}


.bar-gray {background-color: #535a62;}
.bar-black {background-color: #000000; color: #ffffff;}
.bar-black .S5387 {color: #ffffff;}
.bar-black div a, .bar-black div p a {color: #000000;}
.bar-white {background-color: #ffffff;}



.bar-content {
max-width: 1500px;
margin-left: auto;
margin-right: auto;
padding: 25px 0 25px 0;
}

/* End Bars -------------------------------------------- */

/* Text Styles ----------------------------------------*/

.S5387 {font-family: 'Spectral', serif; line-height: 1em;}
.S5389 {font-family: 'Spectral', serif; line-height: 1em;}


/* End Text Styles ----------------------------------------*/

.donate-light, .donate-dark {
display: inline-block;
padding: 5px 15px 5px 15px;
border-radius: 25px;
text-decoration: none;
}

.donate-light {
background-color: #ffffff;
color: #000000;
border-style: none;
}
.donate-dark {
background-color: #000000;
color: #ffffff !important;
border-style: none;
}

.signup-form {
margin-left: auto;
margin-right: auto;
width: 250px;
text-align: center;
font-size: 20px;
line-height: 1em;
color: #ffffff;
}

.iframe-wrapper {
	flex-basis: 60%;
	max-width: 700px;
	margin-right: 60px;
}

.iframe-container-rd {
	position: relative;
	overflow: hidden;
	padding-top: 39%;
	padding-top: 56.25%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: solid 1px red;
}

	.iframe-container-rd iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		max-width: 100%;
		max-height: 100%;
		height: 100%;
		border: 0;
	}




/* End Custom Site CSS */

/* Begin Page Specific CSS */



/* End Page Specific CSS */

/* Begin Gigshowcase Footer CSS */
#GigshowcaseFooter {display: block; margin-top: 20px; height: 76px; text-align: center; background-color: transparent; margin-left: auto; margin-right: auto;max-width: 940px;}
#GigshowcaseLogo{display: block; width: 175px; height: 40px; margin-left: auto; margin-right: auto; padding-top: 2px; background-image: url(../MainGraphics/GigshowcaseFooterLogo.png); background-repeat: no-repeat; background-color: transparent; text-align: center; padding-left: 0px; text-decoration: none; color: #000000; font-family: Arial; font-size: 11px; font-weight: normal;}
/* End Gigshowcase Footer CSS */
